extends layout

block content
  .inner
    a.btn.btn-danger(href="/issues/new") Report a problem

  .dropdown.mt-4
    button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.btn-block(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Problem Category
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
      a.dropdown-item(href='#') Needs Repair
      a.dropdown-item(href='#') Safety Hazard
      a.dropdown-item(href='#') Accessibility
      a.dropdown-item(href='#') Vandalism

  each issue in issues
    section
      img.issue-image(src="#" alt=issue.title)
      .text
        h3= issue.title
        p= issue.txt
      .votes
        a(href="#") Upvote
        p= issue.vote
