extends layout

block content
  .inner
    .text-container.text-center
      h2.h5.pt-5 You are at
      h3.display-5.pb-3 Discovery Park, Seattle
  
  .text-center
    h2 All Pending Reports
    h3 Up vote existing report or create a new one
    a.btn.btn-danger(href="/issues/new") Report a problem

  .dropdown.mt-4
    button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.btn-block(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Problem Category
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
      a.dropdown-item(href='#') Needs Repair
      a.dropdown-item(href='#') Safety Hazard
      a.dropdown-item(href='#') Accessibility
      a.dropdown-item(href='#') Vandalism

  each issue in issues
    section
      .text
        h3= issue.park
        p= issue.txt
      .votes
        a.btn.btn-warning(href=`/upvote/${issue.id}`) Upvote
        p= issue.vote

  hr        

  p Make sure to reach out to your local representative to make sure this problem gets solved!
  a.btn.btn-secondary(href="/local-reps") Reach Out