nav {
  border-bottom: 5px solid green;
}

.navbar-brand {
  background-image: url('../images/photos/ParKOwlLogo.png');
  background-size: contain;
}

.text-container {
  background: white;
  opacity: 0.5;
}

.inner {
  max-height: 300px;
  min-height: 150px;
  background: url('../images/photos/discovery\ park.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

section {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 75px;
  gap: 5px;
}
